body{
    width: 100vw;
    height: 100vh;
    background-image: url("1111.jpg");
    background-size: cover;
    background-position: bottom;
    display:flex;
    align-items: center;
    justify-content: center;
}